{% extends "layout.html" %}
{% block content %}
    <form action="" method="POST">
      <div class="form-row">
        <div class="col">
          <h1>POST - Blind</h1>
        </div>
        <div class="col">
          <input class="form-control-lg" type="text" name="last_name" placeholder="Search by last name..." autofocus>
        </div>
        <div class="col">
          <button class="btn btn-lg btn-dark" name="submit" value="Search" type="submit">Search</button>
        </div>
        <div class="col"></div>
      </div>
    </form>
{% endblock content %}
